apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "shopfast.fullname" . }}
  labels:
    {{- include "shopfast.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "shopfast.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "shopfast.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: shopfast
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: 8000
          command:
            - uvicorn
          args:
            - "app.main:app"
            - "--host"
            - "0.0.0.0"
            - "--port"
            - "8000"
            - "--workers"
            - "4"
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "200m"
              memory: "256Mi"
